body {
    background-color: #dbdbdb;
}

header.masthead {
    position: relative;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
}

header.masthead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
}
header.masthead .page-heading,
header.masthead .listing-heading,
header.masthead .site-heading {
    color: #fff;
}
header.masthead .page-heading,
header.masthead .site-heading {
    text-align: center;
}
header.masthead .page-heading h1,
header.masthead .page-heading .h1,
header.masthead .site-heading h1,
header.masthead .site-heading .h1 {
    font-size: 3rem;
}
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin-top: 0.625rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .listing-heading h1,
header.masthead .listing-heading .h1 {
    font-size: 2.25rem;
}
header.masthead .listing-heading .meta,
header.masthead .listing-heading .subheading {
    line-height: 1.1;
    display: block;
}
header.masthead .listing-heading .subheading {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.75rem 0 2rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .listing-heading .meta {
    font-size: 1.25rem;
    font-weight: 300;
    font-style: italic;
    font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .listing-heading .meta a {
    color: #fff;
}
@media (min-width: 992px) {
    header.masthead {
        padding-top: 12.5rem;
        padding-bottom: 12.5rem;
    }
    header.masthead .page-heading h1,
    header.masthead .page-heading .h1,
    header.masthead .site-heading h1,
    header.masthead .site-heading .h1 {
        font-size: 5rem;
    }
    header.masthead .listing-heading h1,
    header.masthead .listing-heading .h1 {
        font-size: 3.5rem;
    }
    header.masthead .listing-heading .subheading {
        font-size: 1.875rem;
    }
}

.caption {
    font-size: 0.875rem;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 0.625rem;
    text-align: center;
}

.listing-preview {
    z-index: 100;
    border-radius: 2px;
}

.listing-preview > a {
    color: #212529;
}

.listing-preview > a:focus,
.listing-preview > a:hover {
    text-decoration: none;
    color: #0085a1;
}
.listing-preview > a > .listing-title {
    font-size: 1.875rem;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
}
.listing-preview > a > .listing-subtitle {
    font-weight: 300;
    margin-bottom: 0.625rem;
}
.listing-preview > .listing-meta {
    font-size: 1.125rem;
    font-style: italic;
    margin-top: 0;
    color: #6c757d;
}
.listing-preview > .listing-meta > a {
    text-decoration: none;
}

#masthead_div {
    border-radius: 2px;
}

#alllisting-container {
    border-radius: 2px;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #ffffff;
}

#listing-container {
    border-radius: 2px;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #ffffff;
}

#home_btn {
    margin-top: 1rem;
}

.cke_editable {
    text-align: center;
}

#nav_bar_div {
    border-radius: 5px;
    background-color: #ffffff;
}

#footer_div {
    margin-top: 1rem;
    padding-top: 5px;
    border-radius: 5px;
    background-color: #ffffff;
}
