<!--{% from "bootstrap/form.html" import render_form %}-->
{% include "header.html" %}

<main class="mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>Add a new listing into the database</h1>
                {{ ckeditor.load() }} {{ ckeditor.config(name='body') }} {{
                render_form(form, novalidate=True, button_map={"submit":
                "primary"}) }}
            </div>
            <div class="col-lg-8 col-md-10 mx-auto">
                <a
                    id="home_btn"
                    class="btn btn-primary"
                    href="{{ url_for('get_all_listings') }}"
                >
                    Home
                </a>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
