{% include "header.html" %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>

  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Homes list</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Listing preview-->
      {% for listings in all_listings %}
      <div class="listing_previews">
        <a href="{{ url_for('listing', listing_id=listing.id) }}">
          <h2 class="listing-address">{{ listing.address }}</h2>
          <h3 class="listing-price">{{ listing.price }}</h3>
        </a>
        <p class="post-meta">
          Rooms
          <a href="#">{{ listing.rooms }}</a>
          Baths
          <a href="#">{{ listing.baths }}</a>
        </p>

      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- New Post -->
      <div class="d-flex justify-content-end mb-4">
      <!-- TODO: Adding new posts -->

      </div>

      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-secondary text-uppercase" href="#!">More listings →</a>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}